img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: black;
    font-display: 50%;
    margin: 0 auto;
}

h2 {
    color: black;
}

p {
    color: black;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

li {
    color: black;
}

label {
    color: blue;
}